<script src="./Box2D_v2.2.1_min.js"></script>
<script>

"use strict";

var world = new Box2D.b2World( new Box2D.b2Vec2(0.0, 5.0) );

var temp = new Box2D.b2Vec2(0.0, 0.0);
var ZERO = new Box2D.b2Vec2(0.0, 0.0);

var groundBodyDef = new Box2D.b2BodyDef();
temp.Set(0.0, 300.0);
groundBodyDef.set_position(temp);
var groundBody = world.CreateBody(groundBodyDef);

var groundBox = new Box2D.b2PolygonShape();
groundBox.SetAsBox(1000.0, 20.0);
groundBody.CreateFixture(groundBox, 0.0);



var playerBox = new Box2D.b2PolygonShape();
playerBox.SetAsBox(20.0, 20.0);

var fixtureDef = new Box2D.b2FixtureDef();
fixtureDef.set_shape(playerBox);
fixtureDef.set_density(1.0);
fixtureDef.set_friction(0.0);
//fixtureDef.set_friction(0.3);

var bodyDef = new Box2D.b2BodyDef();
bodyDef.set_type( Box2D.b2_dynamicBody );
bodyDef.set_position(ZERO);
var dynamicBody = world.CreateBody(bodyDef);
dynamicBody.CreateFixture(fixtureDef);
temp.Set(0.0, 0.0);
dynamicBody.SetTransform(temp, 0);

var timestep = 1000/60;
setInterval(function () {
    temp.Set(20.0, 0.0);
    //dynamicBody.ApplyForce(temp, dynamicBody.GetWorldCenter());
    dynamicBody.SetLinearVelocity(temp);
    world.Step(timestep, 8, 3);
    var p = dynamicBody.GetPosition();
    console.log(p.get_x(), p.get_y());
    p = groundBody.GetPosition();
    console.log(p.get_x(), p.get_y());
}, timestep);

</script>
