<script src="./Box2D_v2.2.1_min.js"></script>
<script>

"use strict";

var world = new Box2D.b2World( new Box2D.b2Vec2(0.0, 5.0) );

var temp = new Box2D.b2Vec2(0.0, 0.0);
var ZERO = new Box2D.b2Vec2(0.0, 0.0);

/*-var groundBodyDef = new Box2D.b2BodyDef();
-temp.Set(0.0, 300.0);
-groundBodyDef.set_position(temp);
-var groundBody = world.CreateBody(groundBodyDef);
-
-var groundBox = new Box2D.b2PolygonShape();
-groundBox.SetAsBox(1000.0, 20.0);
-groundBody.CreateFixture(groundBox, 0.0);*/

var Box = function (x, y, width, height) {
    this.width = width;
    this.height = height;

    var groundBox = new Box2D.b2PolygonShape();
    groundBox.SetAsBox(this.width/2, this.height/2);

    var fixtureDef = new Box2D.b2FixtureDef();
    fixtureDef.set_shape(groundBox);
    fixtureDef.set_restitution(0.0);
    fixtureDef.set_friction(0.0);

    var groundBodyDef = new Box2D.b2BodyDef();
    temp.Set(x, y);
    groundBodyDef.set_position(temp);
    this.groundBody = world.CreateBody(groundBodyDef);
    this.groundBody.CreateFixture(fixtureDef);
}

Box.prototype.GetPosition = function () { return this.groundBody.GetPosition(); }

var Player = function (x, y, width, height) {
    this.width = width;
    this.height = height;

    var playerBox = new Box2D.b2PolygonShape();
    playerBox.SetAsBox(this.width/2, this.height/2);

    var fixtureDef = new Box2D.b2FixtureDef();
    fixtureDef.set_shape(playerBox);
    fixtureDef.set_density(1.0);
    fixtureDef.set_friction(0.0);
    fixtureDef.set_restitution(0.0);

    var bodyDef = new Box2D.b2BodyDef();
    bodyDef.set_type( Box2D.b2_dynamicBody );
    bodyDef.set_position(ZERO);
    this.dynamicBody = world.CreateBody(bodyDef);
    this.dynamicBody.CreateFixture(fixtureDef);
    temp.Set(x, y);
    this.dynamicBody.SetTransform(temp, 0);
}

Player.prototype.GetPosition = function () { return this.dynamicBody.GetPosition(); }
Player.prototype.SetLinearVelocity = function (velocity) { return this.dynamicBody.SetLinearVelocity(velocity); }

var boxes = [];
for (var i = 0; i < 5; ++i) {
    let w = 30.0;
    let h = 30.0;
    boxes.push(new Box(10+(i*w), 300, w, h));
    //var box = Box(10+(i*50), 300, w, h);
}


var player = new Player(20, 20, 20, 20);



window.onload = function () {
    console.log('Loaded!');
    var cvs = document.getElementById('game');
    var ctx = cvs.getContext('2d');
    var timestep = 1000/60;
    setInterval(function () {
        temp.Set(20.0, 0.0);
        player.SetLinearVelocity(temp);

        ctx.clearRect(0, 0, cvs.width, cvs.height);

        var v = player.GetPosition();
        //console.log(v.get_x(), v.get_y());
        ctx.fillStyle='red';
        ctx.fillRect(v.get_x(), v.get_y(), player.width, player.height);

        boxes.forEach(box => {
            var v = box.GetPosition();
            ctx.beginPath();
            ctx.rect(v.get_x(), v.get_y(), box.width, box.height);
            ctx.stroke();
            ctx.closePath();

            //ctx.fillStyle = 'brown';
            //ctx.fillRect(v.get_x(), v.get_y(), box.width, box.height);
        });
        world.Step(timestep, 8, 3);
    }, timestep);
}

/*window.onkeydown = function () {
        temp.Set(20.0, 0.0);
        player.SetLinearVelocity(temp);

    console.log('key down');
}

window.onkeyup = function () {
        temp.Set(0.0, 0.0);
        player.SetLinearVelocity(temp);

    console.log('key up');
}*/

</script>
<body>
    <canvas id="game" width="500" height="500"></canvas>
</body>

