<style>
canvas {
	border-style: solid;
	border-color: teal;
}
</style>
<body>
<canvas id="app" width="600" height="600"></canvas>
</body>
<script>
"use strict";

var width = 11;
var binaryField = [
	[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
	[1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1],
	[1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1],
	[1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1],
	[1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1],
	[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
];

var lt = [];
lt[0]  = [[0, 0]  , [0, 0]]
lt[1]  = [[0, 0.5], [0.5, 1]];
lt[3]  = [[0, 0.5], [1, 0.5]];
lt[2]  = [[0.5, 1], [1, 0.5]];
lt[6]  = [[0.5, 0], [0.5, 1]];
lt[7]  = [[0, 0.5], [0.5, 0]];
lt[8]  = [[0, 0.5], [0.5, 0]];
lt[9]  = [[0.5, 0], [0.5, 1]];
lt[11] = [[0.5, 0], [1, 0.5]];
lt[12] = [[0, 0.5], [1, 0.5]];
lt[13] = [[0.5, 1], [1, 0.5]];
lt[14] = [[0, 0.5], [0.5, 1]];
lt[15] = [[0, 0]  , [0, 0]];	

var c=document.getElementById("app");
var ctx=c.getContext("2d");

var offset = 50;
for (var y = 0; y < 5; ++y) {
	for (var x = 0; x < width-1; ++x) {
		var cellTotal = (function () {
			var a = binaryField[y][x]*8;
			var b = binaryField[y][x+1]*4;
			var c = binaryField[y+1][x]*1;
			var d = binaryField[y+1][x+1]*2;
			return a+b+c+d;
		}());
		console.log(cellTotal);
		var line = lt[cellTotal];
		var startX = offset + x*offset;
		var startY = offset + y*offset;
		var scaled = [[line[0][0]*offset, line[0][1]*offset], [line[1][0]*offset, line[1][1]*offset]];
		ctx.beginPath();
		ctx.moveTo(startX + scaled[0][0], startY + scaled[0][1]);
		ctx.lineTo(startX + scaled[1][0], startY + scaled[1][1]);
		ctx.stroke();
	}
}

</script>
