$primary-color: #40372d;
$secondary-color: #5D593B;
$tertiary-color: #D9FFC6;
$quaternary-color: #86EBC4;
$quinary-color: #DCEDFF;

body {
    background-color: $primary-color;
}

.logo {
    border-radius: 25px;
    background-image: url(../images/logo.jpg);
    background-position-x: 61%;
    background-position-y: 39%;
    width: 100px;
    height: 100px;
    margin: 20px;
}

#steam-login {
    margin: 20px;
}

.player-profile {
}

.leaderboard-container {
    margin: 25px;
}

.leaderboard-table {
    border: 1px solid black;
}
