<ion-navbar *navbar>
  <ion-title>Live</ion-title>
</ion-navbar>

<ion-content padding class="page1">
  <!-- <h2>Welcome to Ionic!</h2>
  <p>
    This starter project comes with simple tabs-based layout for apps
    that are going to primarily use a Tabbed UI.
  </p>
  <p>
    Take a look at the <code>app/</code> directory to add or change tabs,
    update any existing page or create new pages.
  </p> -->
  <channel-card *ngFor="#channel of twitch.channels" [channel]="channel"></channel-card>
</ion-content>
