<ion-navbar *navbar>
    <ion-title>Settings</ion-title>
</ion-navbar>

<ion-content class="page3">
    <ion-list>
        <ion-item>
            <ion-label>Quality</ion-label>
            <ion-select [(ngModel)]="quality">
                <ion-option value="low">Low</ion-option>
                <ion-option value="medium">Medium</ion-option>
                <ion-option value="high">High</ion-option>
                <ion-option value="best">Best</ion-option>
            </ion-select>
        </ion-item>
    </ion-list>
    <div style="text-align: center">
        <button>Console</button>
    </div>
</ion-content>
