<head>
  <title>test-app</title>
</head>

<body>
  <!-- <h1>Welcome to Meteor!</h1> -->
  {{> hello}}
</body>

<template name="hello">
  <button class="click">Click Me</button>
  <button class="login">Login</button>
  <p>You've pressed the "Click Me" button {{counter}} times.</p>
</template>

<template name="home">
    <h2>Hello, Login!</h2>
    <a href="#" class="logout">You are now logged in (Click here to logout)</a>
</template>

<template name="login">
    <h2>Hello, Home!</h2>
    <h3>Hurry up and login...</h3>
</template>
