<ion-tabs>
  <!-- <ion-tab [root]="tab1Root" tabTitle="Live" tabIcon="desktop"></ion-tab> -->
  <ion-tab [root]="tab1Root" tabIcon="desktop"></ion-tab>
  <ion-tab [root]="tab2Root" tabIcon="rewind"></ion-tab>
  <ion-tab *ng-hide="!streamService.host" [root]="tab3Root" tabIcon="construct"></ion-tab>
</ion-tabs>
