<style>
canvas {
    border-style: solid;
    border-color: teal;
}
</style>
<body>
<canvas id="app" width="600" height="600"></canvas>
</body>
<script>
"use strict";

/*var binaryField = [
    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
    [1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1],
    [1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1],
    [1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1],
    [1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1],
    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
];*/

var width = 11;
var height = 11;
var binaryField = (function () {
    var field = [];
    for (var i = 0; i < height; ++i) {
        var row = [];
        field.push(row);
        for (var j = 0; j < width; ++j) {
            if (i == 0 || i == height-1 || j == 0 || j == width-1) row.push(1);
            else {
                var val = Math.ceil(Math.random()*2)-1;
                row.push(val);
            }
        }
    }

    return field;
}());

binaryField.forEach(r => {
    console.log(JSON.stringify(r));
});

var lt = [];
lt[0]  = [[[0, 0]  , [0, 0]]]
lt[1]  = [[[0, 0.5], [0.5, 1]]];
lt[2]  = [[[0.5, 1], [1, 0.5]]];
lt[3]  = [[[0, 0.5], [1, 0.5]]];
lt[4]  = [[[0.5, 0], [1, 0.5]]];
lt[5]  = [[[0, 0.5], [0.5, 0]], [[0.5, 1], [1, 0.5]]];
lt[6]  = [[[0.5, 0], [0.5, 1]]];
lt[7]  = [[[0, 0.5], [0.5, 0]]];
lt[8]  = [[[0, 0.5], [0.5, 0]]];
lt[9]  = [[[0.5, 0], [0.5, 1]]];
lt[10] = [[[0, 0.5], [0.5, 1]], [[0.5, 0], [1, 0.5]]];
lt[11] = [[[0.5, 0], [1, 0.5]]];
lt[12] = [[[0, 0.5], [1, 0.5]]];
lt[13] = [[[0.5, 1], [1, 0.5]]];
lt[14] = [[[0, 0.5], [0.5, 1]]];
lt[15] = [[[0, 0]  , [0, 0]]];

var c=document.getElementById("app");
var ctx=c.getContext("2d");

var offset = 50;
for (var y = 0; y < height-1; ++y) {
    for (var x = 0; x < width-1; ++x) {
        var cellTotal = (function () {
            /*var a = binaryField[y][x]*8;
            var b = binaryField[y][x+1]*4;
            var c = binaryField[y+1][x]*1;
            var d = binaryField[y+1][x+1]*2;*/
            var a = binaryField[y][x]*8;
            var b = binaryField[y][x+1]*4;
            var c = binaryField[y+1][x+1]*2;
            var d = binaryField[y+1][x]*1;
            return a+b+c+d;
        }());
        console.log(x, y, cellTotal);
        var lines = lt[cellTotal];
        lines.forEach(line => {
            var startX = offset + x*offset;
            var startY = offset + y*offset;
            var scaled = [[line[0][0]*offset, line[0][1]*offset], [line[1][0]*offset, line[1][1]*offset]];
            ctx.beginPath();
            ctx.moveTo(startX + scaled[0][0], startY + scaled[0][1]);
            ctx.lineTo(startX + scaled[1][0], startY + scaled[1][1]);
            ctx.stroke();
        });
    }
}

</script>
