<ion-card>
  <img src="{{ channel.preview.large }}"/>
  <ion-card-content>
    <ion-card-title>
        {{ channel.channel.status }}
      </ion-card-title>
    <p>
      The most popular industrial group ever, and largely
      responsible for bringing the music to a mass audience.
    </p>
  </ion-card-content>

    <ion-row no-padding>
      <ion-col>
        <button clear small danger (click)="setChannel()">
          <ion-icon name='star'></ion-icon>
          Favorite
        </button>
      </ion-col>
      <ion-col text-center>
        <button clear small danger>
          <ion-icon name='musical-notes'></ion-icon>
          Listen
        </button>
      </ion-col>
      <ion-col text-right>
        <button clear small danger>
          <ion-icon name='share-alt'></ion-icon>
          Share
        </button>
      </ion-col>
    </ion-row>
</ion-card>
